In [1]:
import time
import pymssql
import pandas as pd
import urllib
from sqlalchemy.engine import URL
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

In [2]:
driver = 'SQL Server Native Client 10.0'
server = 'xxxxx' # 更新
database = 'xxxxx' # 更新
username = 'xxxxx' # 更新
password = 'xxxxx' # 更新

In [3]:
engine = create_engine(f"mssql+pymssql://{username}:{password}@{server}/{database}")

In [4]:
with engine.connect() as conn:
    rs = conn.execute('SELECT @@VERSION as version')
    for row in rs:
        print(row['version'])

Microsoft SQL Azure (RTM) - 12.0.2000.8
	Sep 18 2021 19:01:34
	Copyright (C) 2019 Microsoft Corporation

## テーブルの定義

In [5]:
Base = declarative_base()

In [6]:
class Person(Base):
    __tablename__ = 'persons'
    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String(14))
    job = Column(String(14))
    address = Column(String(50))

## 登録する DataFrame型のデータを作成

In [8]:
df = pd.DataFrame(
    [
        ["John1", "Engineer", "America"],
        ["John2", "Engineer", "America"],
        ["John3", "Engineer", "America"],
        ["John4", "Engineer", "America"],
        ["John5", "Engineer", "America"],
        ["John6", "Engineer", "America"],
        ["John7", "Engineer", "America"],
        ["John8", "Engineer", "America"],
        ["John9", "Engineer", "America"],
        ["John10", "Engineer", "America"],
        ["John11", "Engineer", "America"],
        ["John12", "Engineer", "America"],
        ["John13", "Engineer", "America"],
        ["John14", "Engineer", "America"],
        ["John15", "Engineer", "America"],
        ["John16", "Engineer", "America"],
        ["John17", "Engineer", "America"],
        ["John18", "Engineer", "America"],
        ["John19", "Engineer", "America"],
        ["John20", "Engineer", "America"],
        ["John21", "Engineer", "America"],
        ["John22", "Engineer", "America"],
        ["John23", "Engineer", "America"],
        ["John24", "Engineer", "America"],
        ["John25", "Engineer", "America"],
        ["John26", "Engineer", "America"],
        ["John27", "Engineer", "America"],
        ["John28", "Engineer", "America"],
        ["John29", "Engineer", "America"],
        ["John30", "Engineer", "America"],
    ],
    columns = ["name", "job", "address"]
)

## for文で1つずつ実行

In [ ]:
# テーブルの作成
Base.metadata.create_all(engine)

In [9]:
start = time.time()

Session = sessionmaker(bind=engine)
session = Session()

for i in range(len(df)):
    
    p = Person(
        name = df.iloc[i:i+1]["name"].values[0],
        job = df.iloc[i:i+1]["job"].values[0],
        address = df.iloc[i:i+1]["address"].values[0]
    )
    
    session.add(p)
    session.commit()

session.flush()

for_add_time = time.time() - start
print(f"elapsed_time:{round((for_add_time), 1)}[sec]")

elapsed_time:14.4[sec]

In [10]:
# テーブルの削除
Base.metadata.drop_all(engine)

## to_sql

In [11]:
# テーブルの作成
Base.metadata.create_all(engine)

In [12]:
start = time.time()

df.to_sql('persons', engine, if_exists='append', index=False)

to_sql_time = time.time() - start
print(f"elapsed_time:{round((to_sql_time), 1)}[sec]")

elapsed_time:4.2[sec]

In [14]:
print(f"for文で1行ずつ登録:{round(for_add_time, 1)}秒")
print(f"to_sql で登録:{round(to_sql_time, 1)}秒")

for文で1行ずつ登録:14.4秒
to_sql で登録:4.2秒